apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
data:
  # Мы вставляем содержимое твоего init.sql прямо сюда
  init.sql: |
    CREATE TABLE IF NOT EXISTS books (
        id SERIAL PRIMARY KEY,
        title VARCHAR(100) NOT NULL,
        author VARCHAR(100) NOT NULL
    );

    INSERT INTO books (title, author) VALUES ('Docker Entry Level', 'Unknown Author');
    INSERT INTO books (title, author) VALUES ('Spring Boot Guide', 'Pivotal');

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-db
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      volumes:
        - name: postgres-init-db
          configMap:
            name: postgres-init
      containers:
        - name: postgres
          image: postgres:15-alpine
          volumeMounts:
            - name: postgres-init-db
              mountPath: /docker-entrypoint-initdb.d
          env:
            - name: POSTGRES_PASSWORD
              value: "mysecretpassword"
            - name: POSTGRES_DB
              value: "mks_db"